body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #F06292;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 95%;
}
.logo{
  color: white;
  font-size: 3rem;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 10%;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.nav_Three_element{
  margin-right: 1.5rem;
}
.hero-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 18%;
    background-color: #F06292
}
.text-container {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    width: 60%;
    color: white;
    text-align: left;
    margin-top: -5%;
    font-weight: 100;
    line-height: 83px;
}
.button{
  display: flex;
  justify-content: space-between;
  gap:25px;
  width: 22rem;
  
  
}
.btn{
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  gap:6px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 29%;
}
.btn-apple{
  background-color: black;
}
.btn-google{
background-color: transparent;
}
.image-icon{
  width: 25%;
  height: auto;
}
.iphone-image{
  text-align: center;
  transform: none;
  z-index: 1;
 
}
.phone-image{
  max-width: 11.5%;
  height: auto;
  transform: rotate(25deg);
  position: absolute;
  margin-top: -187px;
  margin-left: -315px;
  z-index: 0; 
  position: absolute;
}
.second-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10%;
  background-color: white;
  z-index: 1;
  position: relative;
  
}
.icon-part{
  flex: 1;
  margin: 10px;
  min-width: 200px;
}
@media (max-width: 768px) {
  .hero-content 
  {
    flex-direction: column;
    text-align: center;
  }
}
h3.section-two {
  font-size: 2rem;
}
p.section-two{
font-size: 1.4rem;
opacity: 0.8;
font-family: Arial, Helvetica, sans-serif;
}
.icon{
 font-size: 4rem;
}