body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0px 18%;
      background-color: #F06292
  }
  .text-container {
      font-size: 1.7rem;
      font-family: 'Times New Roman', Times, serif;
      width: 100%;
      color: white;
      text-align: center;
      margin-top: 10%;
      margin-bottom: -8%;
      font-weight: 100;
      line-height: 83px;
  }
  .button{
    display: flex;
    justify-content: space-between;
    gap:25px;
    width: 22rem;
    margin-right: auto;
    margin-left: auto; 
  }
  .btn{
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    gap:6px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 29%;
  }
  .btn-apple{
    background-color: black;
    opacity: 0.7;
  }
  .btn-google{
  background-color: white;
  color: black;
  border: white;
  opacity: 0.9;
  }
  .image-icon{
    max-width: 20%;
    width: 25%;
    height: auto;
  }
  footer{
    height: auto;
    align-items: center;
    text-align: center;
  }
  .Copyright{
    opacity: 0.6;
  }
  .fottr-icons{
    margin-top: 13%;
  }
